.details{
    &__title{
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

&__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
     background-color:  #f5f4fa;
     border-radius: 4px;
     margin-bottom: 30px;
}
&__main{
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    }
    @media screen and (min-width: 1200px){
       
    }
}
&__item{
    @media screen and (min-width: 480px){
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px){
    width: calc(( 100% - 1 * 30px) / 2);
    margin-bottom: 0px;
}
@media screen and (min-width: 1200px){
    width: calc(( 100% - 3 * 30px) / 4);
}
}
}